[submodule "submodules/pxb-daycycle"]
	path = submodules/pxb-daycycle
	url = https://github.com/pixelbandito/pxb-daycycle.git
[submodule "submodules/pxb-day-dial"]
	path = submodules/pxb-day-dial
	url = https://github.com/pixelbandito/pxb-day-dial.git
[submodule "pxb-day-dial"]
	path = pxb-day-dial
	url = git@github.com:pixelbandito/pxb-day-dial.git
[submodule "pxb-daycycle"]
	path = pxb-daycycle
	url = https://github.com/pixelbandito/pxb-daycycle
